## CREATE TRAIN DATASET AND TESTING DATASET
        This note book is used to split cleaned dataset (correct_dataset.csv) into training data and testing data
        
#### Key points:
            1. 100% confidence - news needs to dominate in both training and testing dataset
            2. Also need to balance neural +ve and -ve in both training and testing -

####  train data 
        1. 85%  of 100% dataset => 
            min count = 303 , 85% of 303 = 258 (appr) , total =774
        2. 85% of  75 % dataset
            min count = 117 , 85% of 117 = 100 (appr) , total =300
        3. 40% of 66% dataset
            min count = 94 , 40% of 94 =38 (appr) , total = 114
        4. 20% of 50% dataset
            min count = 90 , 20% of 90 =18 (appr) , total = 54
            
        
        Total training data = 1242

#### test data
        min count - traning data
        1. in 100% confident data 
            303-258 =45  ,  45 * 3 = 135
        2. in 75% confident data 
           117-100 =17 , 17*3 = 51
        3. in 66% confident data
            94-38 = 56 , 56 *3 =168
        4. in 50% confident data
            90-18 =72 , 72*3 = 216
            
        main test data will be 100% confident data + 75% confident data 
        main test data =186
        total test data =570

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from collections import Counter

In [2]:
pwd

'C:\\Users\\swath\\OneDrive\\Desktop\\hiring companies\\FINIGAMI\\FinSentimentAnalyzer'

In [3]:
df=pd.read_csv("./data/correct_dataset.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4836 entries, 0 to 4835
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   sentence    4836 non-null   object
 1   sentiment   4836 non-null   object
 2   confidence  4836 non-null   int64
dtypes: int64(1), object(2)
memory usage: 113.5+ KB

In [4]:
df.head()

                                            sentence sentiment  confidence
0  According to Gran , the company has no plans t...   neutral         100
1  For the last quarter of 2010 , Componenta 's n...  positive         100
2  In the third quarter of 2010 , net sales incre...  positive         100
3  Operating profit rose to EUR 13.1 mn from EUR ...  positive         100
4  Operating profit totalled EUR 21.1 mn , up fro...  positive         100

In [5]:
train_df= pd.DataFrame(columns=["sentence","sentiment","confidence"])
train_df.head()

Empty DataFrame
Columns: [sentence, sentiment, confidence]
Index: []

In [6]:
test_df= pd.DataFrame(columns=["sentence","sentiment","confidence"])
test_df.head()

Empty DataFrame
Columns: [sentence, sentiment, confidence]
Index: []

#### 100 confidence

In [7]:
train_count_per_label=258
test_count_per_label=45

In [8]:
df_conf100 = df[df['confidence'] == 100]
df_conf100=df_conf100.sample(frac=1, random_state=42).reset_index(drop=True)

In [9]:
positive = df_conf100[df_conf100['sentiment'] == 'positive']
negative = df_conf100[df_conf100['sentiment'] == 'negative']
neutral = df_conf100[df_conf100['sentiment'] == 'neutral']


train_positive = positive.iloc[:train_count_per_label]
train_negative = negative.iloc[:train_count_per_label]
train_neutral = neutral.iloc[:train_count_per_label]

In [10]:
train_neutral.info()

<class 'pandas.core.frame.DataFrame'>
Index: 258 entries, 0 to 423
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   sentence    258 non-null    object
 1   sentiment   258 non-null    object
 2   confidence  258 non-null    int64
dtypes: int64(1), object(2)
memory usage: 8.1+ KB

In [11]:
train_df=pd.concat([train_df,train_positive, train_negative, train_neutral] , ignore_index=True)
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 774 entries, 0 to 773
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   sentence    774 non-null    object
 1   sentiment   774 non-null    object
 2   confidence  774 non-null    object
dtypes: object(3)
memory usage: 18.3+ KB

In [12]:
train_df.head()

                                            sentence sentiment confidence
0  Profit after taxes for the period was up to EU...  positive        100
1  In 2009 , Fiskars ' cash flow from operating a...  positive        100
2           EBIT margin was up from 1.4 % to 5.1 % .  positive        100
3  Major Order in India Comptel Corporation has r...  positive        100
4  The chain posted sales of 298 million euros fo...  positive        100

In [13]:
train_df["sentence"].duplicated().sum()

0

In [14]:
test_positive = positive.iloc[train_count_per_label:train_count_per_label+test_count_per_label]
test_negative = negative.iloc[train_count_per_label:train_count_per_label+test_count_per_label]
test_neutral = neutral.iloc[train_count_per_label:train_count_per_label+test_count_per_label]
test_positive.info()

<class 'pandas.core.frame.DataFrame'>
Index: 45 entries, 1049 to 1226
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   sentence    45 non-null     object
 1   sentiment   45 non-null     object
 2   confidence  45 non-null     int64
dtypes: int64(1), object(2)
memory usage: 1.4+ KB

In [15]:
test_df=pd.concat([test_df,test_positive, test_negative, test_neutral] , ignore_index=True)
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 135 entries, 0 to 134
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   sentence    135 non-null    object
 1   sentiment   135 non-null    object
 2   confidence  135 non-null    object
dtypes: object(3)
memory usage: 3.3+ KB

#### 75 confidence

In [16]:
train_count_per_label=100
test_count_per_label=17
conf=75

In [17]:
df_conf100 = df[df['confidence'] ==conf ]
df_conf100=df_conf100.sample(frac=1, random_state=42).reset_index(drop=True)

In [18]:
positive = df_conf100[df_conf100['sentiment'] == 'positive']
negative = df_conf100[df_conf100['sentiment'] == 'negative']
neutral = df_conf100[df_conf100['sentiment'] == 'neutral']


train_positive = positive.iloc[:train_count_per_label]
train_negative = negative.iloc[:train_count_per_label]
train_neutral = neutral.iloc[:train_count_per_label]

In [19]:
train_neutral.info()

<class 'pandas.core.frame.DataFrame'>
Index: 100 entries, 0 to 152
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   sentence    100 non-null    object
 1   sentiment   100 non-null    object
 2   confidence  100 non-null    int64
dtypes: int64(1), object(2)
memory usage: 3.1+ KB

In [20]:
train_df=pd.concat([train_df,train_positive, train_negative, train_neutral] , ignore_index=True)
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1074 entries, 0 to 1073
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   sentence    1074 non-null   object
 1   sentiment   1074 non-null   object
 2   confidence  1074 non-null   object
dtypes: object(3)
memory usage: 25.3+ KB

In [21]:
train_df.head()

                                            sentence sentiment confidence
0  Profit after taxes for the period was up to EU...  positive        100
1  In 2009 , Fiskars ' cash flow from operating a...  positive        100
2           EBIT margin was up from 1.4 % to 5.1 % .  positive        100
3  Major Order in India Comptel Corporation has r...  positive        100
4  The chain posted sales of 298 million euros fo...  positive        100

In [22]:
train_df["sentence"].duplicated().sum()

0

In [23]:
test_positive = positive.iloc[train_count_per_label:train_count_per_label+test_count_per_label]
test_negative = negative.iloc[train_count_per_label:train_count_per_label+test_count_per_label]
test_neutral = neutral.iloc[train_count_per_label:train_count_per_label+test_count_per_label]
test_positive.info()

<class 'pandas.core.frame.DataFrame'>
Index: 17 entries, 382 to 462
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   sentence    17 non-null     object
 1   sentiment   17 non-null     object
 2   confidence  17 non-null     int64
dtypes: int64(1), object(2)
memory usage: 544.0+ bytes

In [24]:
test_df=pd.concat([test_df,test_positive, test_negative, test_neutral] , ignore_index=True)
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 186 entries, 0 to 185
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   sentence    186 non-null    object
 1   sentiment   186 non-null    object
 2   confidence  186 non-null    object
dtypes: object(3)
memory usage: 4.5+ KB

In [25]:
test_df["sentence"].duplicated().sum()

0

#### 66 confidence

In [26]:
train_count_per_label=38
test_count_per_label=56
conf=66

In [27]:
df_conf100 = df[df['confidence'] ==conf ]
df_conf100=df_conf100.sample(frac=1, random_state=42).reset_index(drop=True)

In [28]:
positive = df_conf100[df_conf100['sentiment'] == 'positive']
negative = df_conf100[df_conf100['sentiment'] == 'negative']
neutral = df_conf100[df_conf100['sentiment'] == 'neutral']


train_positive = positive.iloc[:train_count_per_label]
train_negative = negative.iloc[:train_count_per_label]
train_neutral = neutral.iloc[:train_count_per_label]

In [29]:
train_neutral.info()

<class 'pandas.core.frame.DataFrame'>
Index: 38 entries, 0 to 64
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   sentence    38 non-null     object
 1   sentiment   38 non-null     object
 2   confidence  38 non-null     int64
dtypes: int64(1), object(2)
memory usage: 1.2+ KB

In [30]:
train_df=pd.concat([train_df,train_positive, train_negative, train_neutral] , ignore_index=True)
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1188 entries, 0 to 1187
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   sentence    1188 non-null   object
 1   sentiment   1188 non-null   object
 2   confidence  1188 non-null   object
dtypes: object(3)
memory usage: 28.0+ KB

In [31]:
train_df.head()

                                            sentence sentiment confidence
0  Profit after taxes for the period was up to EU...  positive        100
1  In 2009 , Fiskars ' cash flow from operating a...  positive        100
2           EBIT margin was up from 1.4 % to 5.1 % .  positive        100
3  Major Order in India Comptel Corporation has r...  positive        100
4  The chain posted sales of 298 million euros fo...  positive        100

In [32]:
train_df["sentence"].duplicated().sum()

0

In [33]:
test_positive = positive.iloc[train_count_per_label:train_count_per_label+test_count_per_label]
test_negative = negative.iloc[train_count_per_label:train_count_per_label+test_count_per_label]
test_neutral = neutral.iloc[train_count_per_label:train_count_per_label+test_count_per_label]
test_positive.info()

<class 'pandas.core.frame.DataFrame'>
Index: 56 entries, 109 to 234
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   sentence    56 non-null     object
 1   sentiment   56 non-null     object
 2   confidence  56 non-null     int64
dtypes: int64(1), object(2)
memory usage: 1.8+ KB

In [34]:
test_df=pd.concat([test_df,test_positive, test_negative, test_neutral] , ignore_index=True)
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 354 entries, 0 to 353
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   sentence    354 non-null    object
 1   sentiment   354 non-null    object
 2   confidence  354 non-null    object
dtypes: object(3)
memory usage: 8.4+ KB

In [35]:
test_df["sentence"].duplicated().sum()

0

#### 50 confidence

In [36]:
train_count_per_label=18
test_count_per_label=72
conf=50

In [37]:
df_conf100 = df[df['confidence'] ==conf ]
df_conf100=df_conf100.sample(frac=1, random_state=42).reset_index(drop=True)

In [38]:
positive = df_conf100[df_conf100['sentiment'] == 'positive']
negative = df_conf100[df_conf100['sentiment'] == 'negative']
neutral = df_conf100[df_conf100['sentiment'] == 'neutral']


train_positive = positive.iloc[:train_count_per_label]
train_negative = negative.iloc[:train_count_per_label]
train_neutral = neutral.iloc[:train_count_per_label]

In [39]:
train_neutral.info()

<class 'pandas.core.frame.DataFrame'>
Index: 18 entries, 0 to 32
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   sentence    18 non-null     object
 1   sentiment   18 non-null     object
 2   confidence  18 non-null     int64
dtypes: int64(1), object(2)
memory usage: 576.0+ bytes

In [40]:
train_df=pd.concat([train_df,train_positive, train_negative, train_neutral] , ignore_index=True)
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1242 entries, 0 to 1241
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   sentence    1242 non-null   object
 1   sentiment   1242 non-null   object
 2   confidence  1242 non-null   object
dtypes: object(3)
memory usage: 29.2+ KB

In [41]:
train_df.head()

                                            sentence sentiment confidence
0  Profit after taxes for the period was up to EU...  positive        100
1  In 2009 , Fiskars ' cash flow from operating a...  positive        100
2           EBIT margin was up from 1.4 % to 5.1 % .  positive        100
3  Major Order in India Comptel Corporation has r...  positive        100
4  The chain posted sales of 298 million euros fo...  positive        100

In [42]:
train_df["sentence"].duplicated().sum()

0

In [43]:
test_positive = positive.iloc[train_count_per_label:train_count_per_label+test_count_per_label]
test_negative = negative.iloc[train_count_per_label:train_count_per_label+test_count_per_label]
test_neutral = neutral.iloc[train_count_per_label:train_count_per_label+test_count_per_label]
test_positive.info()

<class 'pandas.core.frame.DataFrame'>
Index: 72 entries, 58 to 285
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   sentence    72 non-null     object
 1   sentiment   72 non-null     object
 2   confidence  72 non-null     int64
dtypes: int64(1), object(2)
memory usage: 2.2+ KB

In [44]:
test_df=pd.concat([test_df,test_positive, test_negative, test_neutral] , ignore_index=True)
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 570 entries, 0 to 569
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   sentence    570 non-null    object
 1   sentiment   570 non-null    object
 2   confidence  570 non-null    object
dtypes: object(3)
memory usage: 13.5+ KB

In [45]:
test_df["sentence"].duplicated().sum()

0

### Final stage 
1. test dataset splits into two 

    a. primary dataset (data having 100% and 75 % confidence)
    
    b. secondary dataset (data having 66% and 50 % confidence)
    
2. save datasets

In [46]:
sentiment_mapping = {
    'neutral': 0,
    'positive': 1,
    'negative': -1
}
train_df['sentiment'] = train_df['sentiment'].replace(sentiment_mapping)
test_df['sentiment'] = test_df['sentiment'].replace(sentiment_mapping)

C:\Users\swath\AppData\Local\Temp\ipykernel_41384\3974153953.py:6: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  train_df['sentiment'] = train_df['sentiment'].replace(sentiment_mapping)
C:\Users\swath\AppData\Local\Temp\ipykernel_41384\3974153953.py:7: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  test_df['sentiment'] = test_df['sentiment'].replace(sentiment_mapping)

In [47]:
train_df.describe()

         sentiment
count  1242.000000
mean      0.000000
std       0.816825
min      -1.000000
25%      -1.000000
50%       0.000000
75%       1.000000
max       1.000000

In [48]:
test_df.describe()

        sentiment
count  570.000000
mean     0.000000
std      0.817214
min     -1.000000
25%     -1.000000
50%      0.000000
75%      1.000000
max      1.000000

In [49]:
full=pd.concat([train_df,test_df], ignore_index=True)
full["sentence"].duplicated().sum()

0

##### split test to primary and secondary

In [50]:
primary_test=test_df[test_df["confidence"].isin([100,75])]
primary_test.describe()

       sentiment
count   186.0000
mean      0.0000
std       0.8187
min      -1.0000
25%      -1.0000
50%       0.0000
75%       1.0000
max       1.0000

In [51]:
secondary_test=test_df[test_df["confidence"].isin([66,50])]
secondary_test.describe()

        sentiment
count  384.000000
mean     0.000000
std      0.817562
min     -1.000000
25%     -1.000000
50%      0.000000
75%      1.000000
max      1.000000

###### save datasets

In [52]:
train_df["type"]=["train"]*train_df.shape[0]
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1242 entries, 0 to 1241
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   sentence    1242 non-null   object
 1   sentiment   1242 non-null   int64
 2   confidence  1242 non-null   object
 3   type        1242 non-null   object
dtypes: int64(1), object(3)
memory usage: 38.9+ KB

In [53]:
train_df.to_csv("data/final_train_dataset.csv", index=False)

In [54]:
primary_test["type"]=["primary_test"]*primary_test.shape[0]
primary_test.info()

<class 'pandas.core.frame.DataFrame'>
Index: 186 entries, 0 to 185
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   sentence    186 non-null    object
 1   sentiment   186 non-null    int64
 2   confidence  186 non-null    object
 3   type        186 non-null    object
dtypes: int64(1), object(3)
memory usage: 7.3+ KB

C:\Users\swath\AppData\Local\Temp\ipykernel_41384\3374121375.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  primary_test["type"]=["primary_test"]*primary_test.shape[0]

In [55]:
primary_test.describe()

       sentiment
count   186.0000
mean      0.0000
std       0.8187
min      -1.0000
25%      -1.0000
50%       0.0000
75%       1.0000
max       1.0000

In [56]:
primary_test.to_csv("data/final_primary_dataset.csv", index=False)

In [57]:
secondary_test["type"]=["secondary_test"]*secondary_test.shape[0]
secondary_test.info()

<class 'pandas.core.frame.DataFrame'>
Index: 384 entries, 186 to 569
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   sentence    384 non-null    object
 1   sentiment   384 non-null    int64
 2   confidence  384 non-null    object
 3   type        384 non-null    object
dtypes: int64(1), object(3)
memory usage: 15.0+ KB

C:\Users\swath\AppData\Local\Temp\ipykernel_41384\3174544047.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  secondary_test["type"]=["secondary_test"]*secondary_test.shape[0]

In [58]:
secondary_test.describe()

        sentiment
count  384.000000
mean     0.000000
std      0.817562
min     -1.000000
25%     -1.000000
50%      0.000000
75%      1.000000
max      1.000000

In [59]:
secondary_test.to_csv("data/final_secondary_dataset.csv", index=False)